{% extends 'base.html.twig' %}

{% block title %}Reset Password - Article Manager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/password-reset.css') }}">
{% endblock %}

{% block body %}
    <div class="reset-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <div class="text-center mb-4">
                        <h2>Reset Your Password</h2>
                        <p class="reset-subtitle">Enter your new password below</p>
                    </div>
                    <div class="card reset-card">
                        <div class="card-body">
                            {{ form_start(form, {
                                'attr': {'class': 'reset-form'}
                            }) }}
                            <div class="mb-3">
                                {{ form_label(form.password.first) }}
                                {{ form_widget(form.password.first) }}
                                {{ form_errors(form.password.first) }}
                            </div>
                            <div class="mb-4">
                                {{ form_label(form.password.second) }}
                                {{ form_widget(form.password.second) }}
                                {{ form_errors(form.password.second) }}
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Reset Password
                                </button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <p class="register-link mb-0">
                            Remember your password?
                            <a href="{{ path('app_login') }}">Sign in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
