{% extends 'base.html.twig' %}

{% block title %}Reset Password - Article Manager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/password-reset.css') }}">
{% endblock %}

{% block body %}
    <div class="reset-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <div class="text-center mb-4">
                        <h2>Reset Password</h2>
                        <p class="reset-subtitle">Enter your email address and we'll send you a link to reset your password</p>
                    </div>
                    <div class="card reset-card">
                        <div class="card-body">
                            {{ form_start(form, {
                                'attr': {'class': 'reset-form'}
                            }) }}
                            <div class="mb-4">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="d-grid mb-3">
                                <button type="submit" class="btn btn-primary">Reset password</button>
                            </div>

                            {{ form_end(form) }}
                            <div class="text-center">
                                <a href="{{ path('app_login') }}" class="back-link">
                                    <i class="bi bi-arrow-left"></i> Back to login
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <p class="register-link mb-0">
                            Don't have an account?
                            <a href="{{ path('app_register') }}">Sign up</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
