{% extends 'base.html.twig' %}

{% block title %}Register - Article Manager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
    <div class="register-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <div class="text-center mb-4">
                        <p class="register-subtitle">Create your account</p>
                    </div>

                    <div class="card register-card">
                        <div class="card-body">
                            {{ form_start(form, {
                                'attr': {'class': 'register-form'}
                            }) }}
                            <div class="mb-3">
                                {{ form_label(form.firstName) }}
                                {{ form_widget(form.firstName) }}
                                {{ form_errors(form.firstName) }}
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.lastName) }}
                                {{ form_widget(form.lastName) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.plainPassword.first) }}
                                {{ form_widget(form.plainPassword.first) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                            <div class="mb-4">
                                {{ form_label(form.plainPassword.second) }}
                                {{ form_widget(form.plainPassword.second) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <p class="login-link mb-0">
                            Already have an account?
                            <a href="{{ url('app_login') }}">Sign in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
