{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="mb-4">Profile</h1>
                <div class="profile">
                    {{ form_start(form, {
                        'attr': {'class': 'profile-form', 'enctype': 'multipart/form-data'}
                    }) }}

                    <div class="mb-3">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                        {{ form_errors(form.firstName) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="mb-4">
                        {{ form_label(form.avatar, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.avatar) }}
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
